h2 {
    margin-top: 30px;
    color: rgb(69, 69, 173);
    text-align: center;
}
.box {
    height: 120px; /* Adjusted height */
    text-align: center;
    width: 25%; /* Adjusted width */
    border: solid black;
    margin-left: 35%;

    margin-bottom: 20%;
    padding: 20px; /* Added padding for better appearance */
}
#numberguess {
    font-weight: bold;
    color: red; /* Added color for emphasis */
}